<!DOCTYPE html>
<html>
    <head th:include="./fragments/base :: header">
        <title>RA - Login</title>
    </head>
    <body>
    <div>
        <div th:replace="./fragments/base :: navbar"></div>
        <h1>login into your acconut</h1>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/auth/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        <h6>don't have an account yet? <a th:href="@{~/auth/signup}">sign up</a></h6>
    </div>
    </body>
</html>