<!DOCTYPE html>
<html>
    <head th:include="./fragments/base :: header"></head>
    <head>
        <title>RA - Profile</title>
    </head>
    <body>
        <div th:replace="./fragments/base :: navbar"></div>
        <div>
            <p>First Name: <input disabled="true"  th:value="${firstName}" ></p>
            <p>Last Name: <input disabled="true" th:value="${lastName}"></p>
            <p>Email Address: <input disabled="true" th:value="${emailAddress}"> </p>
            <button>edit</button>
        </div>

        <div id="resumes">
            <div><h3>My CV's</h3></div>
            <script>
                const div = document.createElement('div');
                fetch("/user/_getResumesNames")
                .then(r => r.json())
                .then(data => data.forEach(element => {
                    div.innerHTML = '<a href="/build/' + element.id + '">' + element.title +"</a>"
                }));
                document.getElementById("resumes").appendChild(div);
            </script>

        </div>
    </body>
