<!DOCTYPE html>
<html>
    <head th:include="./fragments/base :: header">
        <title>Sign up</title>

    </head>

    <body>
        <div th:replace="./fragments/base :: navbar"></div>

        <div>
            <form th:action="@{/auth/signup}" th:object="${user}" method="post">
                <input type="email" th:field="*{email}"  required />
                <input type="password" th:field="*{password}" required minlength="8" maxlength="20"/>
                <input type="text" th:field="*{name}"  required minlength="2" maxlength="20"/>
                <button type="submit">Sign Up</button> 

            </form>
        </div>

    </body>
</html>